<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Latency Test</title>
		<script src="./newrelic.js"></script>
	</head>
	<body>

	</head>
	<body>
		<%= header_html %>
		<hr>
		<p>Generate Latency</p>
		<div>
			<%= links_html %>
		</div>
		<hr>
		<p><a href="/">Home</a> | <a href="/latency">Latency</a> | <a href="/error">Error</a></p>
	</body>
</html>
